<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <title>Homepage</title>
        <link rel="stylesheet" href="styles.css">
        <script src="code.js"></script>
    </head>
    <body onload="on_load()">
        <div id="time" class="clock"></div>
        <div id="preview"></div>

        <div class="main-container">
            <div class="panel">
                <div class="header">
                    Search
                </div>
                <div class="element">
                    <a href="https://search.brave.com">Brave</a>
                </div>
                <div class="element">
                    Youtube
                </div>
                <div class="element">
                    Google
                </div>
            </div>
            <div class="panel">
                hello
            </div>
            <div class="panel">
                welcome
            </div>
            <div class="panel">
                <div class="header">
                    Search
                </div>
                <div class="element">
                    <a href="https://search.brave.com">Brave</a>
                </div>
                <div class="element">
                    Youtube
                </div>
                <div class="element">
                    <div class="hint" text="śł">
                        śł
                    </div>
                    <a class="bookmark" href="https://google.com">Google</a>
                </div>
                <div class="element">
                    <div class="hint" text="sss">
                        sss
                    </div>
                    <a class="bookmark" href="https://search.brave.com">Brave</a>
                </div>
                <div class="element">
                    Youtube
                </div>
                <div class="element">
                    Google
                </div>
            </div>
            <div class="panel">
                welcome
            </div>
            <div class="panel">
                welcome
            </div>
            <div class="panel">
                welcome
            </div>
            <div class="panel">
                welcome
            </div>
            <div class="panel">
                welcome
            </div>
        </div>

    </body>
</html>
